h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    p{
    font-family: 'Courier New’, 'Courier New’, Courier, monospace;
    color: red;
    font-size: large;
    }
    
    body{
    background-color: lightgrey;
    color: blueviolet;
    }
    
    div{
    background-color: whitesmoke;
    }
    
    #par{
    color: blue;
}